form {
  display: flex;
  flex-basis: 90%;
  flex-direction: column;
  justify-content: center;
}

form h1 {
  align-self: center;
  margin-bottom: 100px;
}

form h3 {
  align-self: center;
  margin: 20px;
}
