.nameInput {
  display: flex;
  flex-direction: column;
}

.nameInput label {
  font-size: 18px;
  line-height: 20px;
  margin: 5px 10px;
}

.nameInput input {
  border: 0;
  border-bottom: 2px solid black;
  font-size: 15px;
  line-height: 20px;
  margin: 5px 10px;
  outline: none;
}

.sameLine {
  display: flex;
  flex-basis: 60%;
  gap: 10px;
  margin: 10px;
}

.sameLine label {
  font-size: 18px;
  line-height: 20px;
  width: 100px;
}

.sameLine input {
  flex-basis: 80%;
  font-size: 15px;
  line-height: 20px;
}

.trunfoInput {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.trunfoInput label {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 5px;
}

.nameInput input:focus {
  border-color: red;
}
