* {
  margin: 0;
  padding: 0;
}

.formsCard {
  width: 100vw;
  max-width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.leftSide {
  flex-basis: 50%;
  height: 100Vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rigthSide {
  background-color: red;
  flex-basis: 50%;
  height: 100Vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.seconPage {
  background-color: lightgray;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchBar {
  box-sizing: border-box;
  border: 5px solid black;
  background-color: black;
  height: 50px;
  width: 100%;
}

.deackContainer {
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
